


<div class="yearSelector">
  <span class="ms-font-xl">Année : </span>
  <select class="ms-font-l" (change)="loadDataForYear($event.target.value)">
    <option *ngFor="let year of availableYears" [selected]="year">{{year}}</option>
  </select>
  <img *ngIf="inProgress" alt="Veuillez patienter" src="/_layouts/15/images/gears_anv4.gif?rev=43" style="width:16px; height:16px; font-size:0px;">
</div>
<br>
<br>
<div class="container ms-font-m">
  <div class="row">
    <div class="cell">Titre</div>
    <div class="cell"># taxe catégorie</div>
    <div class="cell">Dépenses totales</div>
    <div class="cell">% personnel DM</div>
    <div class="cell">Partie personnel DM</div>
    <div class="cell">% personnel MM</div>
    <div class="cell">Partie personnel MM</div>
  </div>
  <div *ngFor="let taxeCategory of taxeCategories" class="row">
    <div class="cell">{{taxeCategory.title}}</div>
    <div class="cell taxCategory">{{taxeCategory.number}}</div>
    <div class="cell">{{taxeCategory.sum | number:'.0-2'}}</div>
    <div class="cell">{{taxeCategory.percentagePersonalDM | number:'.0-2' | percent}}</div>
    <div class="cell">{{taxeCategory.sumPersonalDM | number:'.0-2'}}</div>
    <div class="cell">{{taxeCategory.percentagePersonalMM | number:'.0-2' | percent}}</div>
    <div class="cell">{{taxeCategory.sumPersonalMM | number:'.0-2'}}</div>
  </div>
  <div class="row">
    <div class="cell">Totaux</div>
    <div class="cell"></div>
    <div class="cell">{{totalExpenses | number:'.0-2'}}</div>
    <div class="cell"></div>
    <div class="cell">{{totalExpensesPersonelDM | number:'.0-2'}}</div>
    <div class="cell"></div>
    <div class="cell">{{totalExpensesPersonelMM | number:'.0-2'}}</div>
  </div>
  <div class="row">
    <div class="cell">Total moins partie personnel</div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">{{totalExpensesWithOutPersonelDM | number:'.0-2'}}</div>
    <div class="cell"></div>
    <div class="cell">{{totalExpensesWithOutPersonelMM | number:'.0-2'}}</div>
  </div>
  <div class="row">
    <div class="cell">Ajout sur le revenue personnel (sans 1821)</div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">{{(totalRevenuWithout1821 / 2) - totalExpensesWithOutPersonelDM | number:'.0-2'}}</div>
    <div class="cell"></div>
    <div class="cell">{{(totalRevenuWithout1821 / 2) - totalExpensesWithOutPersonelMM | number:'.0-2'}}</div>
  </div>
</div>
<div class="Warning" *ngIf="enpenseWithoutFlat">ATTENTION : il y a des dépenses qui n'ont pas de logement !</div>
<h2 *ngIf="expenses">Nombre d'items considéré : {{expenses.length}}</h2>
<br>
<br>
<h1>Revenue</h1>
<div class="container ms-font-m">
  <div class="row">
    <div class="cell">Revenue total : </div>
    <div class="cell">{{totalRevenu}}</div>
  </div>
  <div class="row">
    <div class="cell">Revenu total sans 1821 : </div>
    <div class="cell">{{totalRevenuWithout1821}}</div>
  </div>
</div>
<br>
