.container {
  display: table;
}

.row  {
  display: table-row;
}
.cell {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid black 1px;
}
.taxCategory{
  border-right: solid black 1px;
  border-left: solid black 1px;
}
.Warning{
  color:red;
}
