<h1>Année en cours : {{selectedYear}}</h1>
<h2>Nombre d'items considéré : {{expenses.length}}</h2>
<select (change)="loadDataForYear($event.target.value)">
  <option *ngFor="let year of availableYears" [selected]="selectedYear">{{year}}</option>
</select>

<div class="container">
  <div class="row">
    <div class="cell">Titre</div>
    <div class="cell"># taxe catégorie</div>
    <div class="cell">Sommes</div>
  </div>
  <div *ngFor="let taxeCategory of taxesCategory" class="row">
    <div class="cell">{{taxeCategory.title}}</div>
    <div class="cell">{{taxeCategory.number}}</div>
    <div class="cell">{{taxeCategory.sum}}</div>
  </div>
</div>
