<div class="ms-CommandBar">
  <div class="ms-CommandBar-mainArea">
    <div class="ms-CommandButton">
      <button class="ms-CommandButton-button" (click)="goToExpenses($event)"
              [routerLinkActive]="['route-is-active']">
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
          <i class="ms-Icon ms-Icon--BulletedList"></i>
        </span>
        <span class="ms-CommandButton-label">Dépenses</span>
      </button>
    </div>
    <div class="ms-CommandButton">
      <button class="ms-CommandButton-button" (click)="goToTaxes($event)"  [routerLinkActive]="['route-is-active']">
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
          <i class="ms-Icon ms-Icon--Financial"></i>
        </span>
        <span class="ms-CommandButton-label">Impôt</span>
      </button>
    </div>
    <div class="ms-CommandButton">
      <button class="ms-CommandButton-button" (click)="goToReimbursement($event)" [routerLinkActive]="['route-is-active']">
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
          <i class="ms-Icon ms-Icon--AirTickets"></i>
        </span>
        <span class="ms-CommandButton-label">Remboursement</span>
      </button>
    </div>
  </div>
</div>


<div class="route-outlet">
  <router-outlet></router-outlet>
</div>


