<link href="https://mm3mm3.sharepoint.com/sites/immoDMMM/1821Bennett/code/expense-list/assets/ag-grid.css" rel="stylesheet" />
<link href="https://mm3mm3.sharepoint.com/sites/immoDMMM/1821Bennett/code/expense-list/assets/theme-fresh.css" rel="stylesheet" />
<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/fabric-core/4.0.0/fabric.min.css">
<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/fabric-js/1.0.0/fabric.components.min.css">
<div class="uma-app">
  <input placeholder="Filtre..." type="text"
         onpaste="onFilterChanged($event)"
         oninput="onFilterChanged($event)"
         onchange="onFilterChanged($event)"
         onkeydown="onFilterChanged($event)"
         onkeyup="onFilterChanged($event)"/>
  <ag-grid-ng2 #agGrid class="ag-fresh" style="width: 100%;"

               [gridOptions]="gridOptions"
               [columnDefs]="columnDefs"
               [showToolPanel]="showToolPanel"
               [rowData]="rowData"
               enableColResize
               enableSorting
               enableFilter
               groupHeaders
               suppressRowClickSelection
               toolPanelSuppressGroups
               toolPanelSuppressValues
               rowHeight="22"
               rowSelection="multiple"
               (rowClicked)="onRowClicked($event)">
  </ag-grid-ng2>

</div>
