/* You can add global styles to this file, and also import other style files */
#hidZone{
  display:block !important;
}
.validated-true{
  color: green;
  font-weight: bold;
}
.hidden{
  display: none!important;
}
.ag-header-cell-filtered {
  background-color: #e5e5e5;
}
.article-body, div.article, div.welcome{
  height: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  display: none;
}
